
Task0/nb-configuration.xml
Task0/nbactions.xml
Task0/pom.xml
Task0/src/main/resources/fxml/hello.fxml
Task0/src/main/resources/styles/styles.css
Task0/target/classes/com/mysql/jdbc/Charsets.properties
Task0/target/classes/com/mysql/jdbc/configs/3-0-Compat.properties
Task0/target/classes/com/mysql/jdbc/configs/5-0-Compat.properties
Task0/target/classes/com/mysql/jdbc/configs/clusterBase.properties
Task0/target/classes/com/mysql/jdbc/configs/coldFusion.properties
Task0/target/classes/com/mysql/jdbc/configs/fullDebug.properties
Task0/target/classes/com/mysql/jdbc/configs/maxPerformance.properties
Task0/target/classes/com/mysql/jdbc/configs/solarisMaxPerformance.properties
Task0/target/classes/com/mysql/jdbc/LocalizedErrorMessages.properties
Task0/target/classes/fxml/hello.fxml
Task0/target/classes/META-INF/INDEX.LIST
Task0/target/classes/META-INF/LICENSE.txt
Task0/target/classes/META-INF/MANIFEST.MF
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-core/pom.properties
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-core/pom.xml
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-javafx/pom.properties
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-javafx/pom.xml
Task0/target/classes/META-INF/maven/commons-lang/commons-lang/pom.properties
Task0/target/classes/META-INF/maven/commons-lang/commons-lang/pom.xml
Task0/target/classes/META-INF/NOTICE.txt
Task0/target/classes/META-INF/services/java.sql.Driver
Task0/target/maven-archiver/pom.properties
Task0/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Task0/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Task0/TODO LIST
*.class
*.class
Task1/target/classes/com/fasterxml/classmate/AnnotationConfiguration$StdConfiguration.class
*.properties
*.rng
*.LIST
*.xsd
*.txt
*.MF
*.Driver
*.JAXBContext
*.marker
Task1/target/classes/.gitkeep
Task1/target/classes/META-INF/maven/com.miglayout/miglayout-core/pom.xml
Task1/target/classes/META-INF/maven/com.miglayout/miglayout-javafx/pom.xml
Task1/target/classes/META-INF/maven/com.sun.istack/istack-commons-runtime/pom.xml
Task1/target/classes/META-INF/maven/com.sun.xml.fastinfoset/FastInfoset/pom.xml
Task1/target/classes/META-INF/maven/commons-lang/commons-lang/pom.xml
Task1/target/classes/META-INF/maven/javax.activation/javax.activation-api/pom.xml
Task1/target/classes/META-INF/maven/javax.persistence/javax.persistence-api/pom.xml
Task1/target/classes/META-INF/maven/javax.xml.bind/jaxb-api/pom.xml
Task1/target/classes/META-INF/maven/org.glassfish.jaxb/jaxb-runtime/pom.xml
Task1/target/classes/META-INF/maven/org.glassfish.jaxb/txw2/pom.xml
Task1/target/classes/META-INF/maven/org.javassist/javassist/pom.xml
Task1/target/classes/META-INF/maven/org.jboss.logging/jboss-logging/pom.xml
Task1/target/classes/META-INF/maven/org.jboss.spec.javax.transaction/jboss-transaction-api_1.2_spec/pom.xml
Task1/target/classes/META-INF/maven/org.jboss/jandex/pom.xml
Task1/target/classes/META-INF/maven/org.jvnet.staxex/stax-ex/pom.xml
Task1/target/classes/META-INF/persistance.xml
Task1/target/classes/META-INF/persistence.xml
Task1/target/classes/META-INF/README
Task1/target/classes/META-INF/services/javax.persistence.spi.PersistenceProvider
Task1/target/classes/org/hibernate/hibernate-configuration-3.0.dtd
Task1/target/classes/org/hibernate/hibernate-mapping-3.0.dtd
Task1/target/classes/workinggroup/task1/BookManager.class
Task1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Task1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Task1/target/Task1-1.0-SNAPSHOT.jar
Task1/target/classes/workinggroup/task1/BookManager.class
Task1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
*.class
*.lst
Task1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Task1leveldb/target/
/JavaFXApplication2/nbproject/private/
/Task1leveldb/build/