
Task0/nb-configuration.xml
Task0/nbactions.xml
Task0/pom.xml
Task0/src/main/resources/fxml/hello.fxml
Task0/src/main/resources/styles/styles.css
Task0/target/classes/com/mysql/jdbc/Charsets.properties
Task0/target/classes/com/mysql/jdbc/configs/3-0-Compat.properties
Task0/target/classes/com/mysql/jdbc/configs/5-0-Compat.properties
Task0/target/classes/com/mysql/jdbc/configs/clusterBase.properties
Task0/target/classes/com/mysql/jdbc/configs/coldFusion.properties
Task0/target/classes/com/mysql/jdbc/configs/fullDebug.properties
Task0/target/classes/com/mysql/jdbc/configs/maxPerformance.properties
Task0/target/classes/com/mysql/jdbc/configs/solarisMaxPerformance.properties
Task0/target/classes/com/mysql/jdbc/LocalizedErrorMessages.properties
Task0/target/classes/fxml/hello.fxml
Task0/target/classes/META-INF/INDEX.LIST
Task0/target/classes/META-INF/LICENSE.txt
Task0/target/classes/META-INF/MANIFEST.MF
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-core/pom.properties
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-core/pom.xml
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-javafx/pom.properties
Task0/target/classes/META-INF/maven/com.miglayout/miglayout-javafx/pom.xml
Task0/target/classes/META-INF/maven/commons-lang/commons-lang/pom.properties
Task0/target/classes/META-INF/maven/commons-lang/commons-lang/pom.xml
Task0/target/classes/META-INF/NOTICE.txt
Task0/target/classes/META-INF/services/java.sql.Driver
Task0/target/maven-archiver/pom.properties
Task0/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Task0/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Task0/TODO LIST
